.bsh5black {
    box-shadow: 0 0 5px black;
}

.bsh10black {
    box-shadow: 0 0 10px black;
}

.bsh15black {
    box-shadow: 0 0 15px black;
}

.bsh20black {
    box-shadow: 0 0 20px black;
}

.bsh25black {
    box-shadow: 0 0 25px black;
}

.bsh30black {
    box-shadow: 0 0 30px black;
}

.bsh35black {
    box-shadow: 0 0 35px black;
}

.bsh40black {
    box-shadow: 0 0 40px black;
}

.bsh45black {
    box-shadow: 0 0 45px black;
}

.bsh5red {
    box-shadow: 0 0 5px red;
}

.bsh10red {
    box-shadow: 0 0 10px red;
}

.bsh15red {
    box-shadow: 0 0 15px red;
}

.bsh20red {
    box-shadow: 0 0 20px red;
}

.bsh25red {
    box-shadow: 0 0 25px red;
}

.bsh30red {
    box-shadow: 0 0 30px red;
}

.bsh35red {
    box-shadow: 0 0 35px red;
}

.bsh40red {
    box-shadow: 0 0 40px red;
}

.bsh45red {
    box-shadow: 0 0 45px red;
}

.bsh50red {
    box-shadow: 0 0 50px red;
}

.bsh5blue {
    box-shadow: 0 0 5px blue;
}

.bsh10blue {
    box-shadow: 0 0 10px blue;
}

.bsh15blue {
    box-shadow: 0 0 15px blue;
}

.bsh20blue {
    box-shadow: 0 0 20px blue;
}

.bsh25blue {
    box-shadow: 0 0 25px blue;
}

.bsh30blue {
    box-shadow: 0 0 30px blue;
}

.bsh35blue {
    box-shadow: 0 0 35px blue;
}

.bsh40blue {
    box-shadow: 0 0 40px blue;
}

.bsh45blue {
    box-shadow: 0 0 45px blue;
}

.bsh50blue {
    box-shadow: 0 0 50px blue;
}

.bsh5green {
    box-shadow: 0 0 5px green;
}

.bsh10green {
    box-shadow: 0 0 10px green;
}

.bsh15green {
    box-shadow: 0 0 15px green;
}

.bsh20green {
    box-shadow: 0 0 20px green;
}

.bsh25green {
    box-shadow: 0 0 25px green;
}

.bsh30green {
    box-shadow: 0 0 30px green;
}

.bsh35green {
    box-shadow: 0 0 35px green;
}

.bsh40green {
    box-shadow: 0 0 40px green;
}

.bsh45green {
    box-shadow: 0 0 45px green;
}

.bsh50green {
    box-shadow: 0 0 50px green;
}

.bsh5yellow {
    box-shadow: 0 0 5px yellow;
}

.bsh10yellow {
    box-shadow: 0 0 10px yellow;
}

.bsh15yellow {
    box-shadow: 0 0 15px yellow;
}

.bsh20yellow {
    box-shadow: 0 0 20px yellow;
}

.bsh25yellow {
    box-shadow: 0 0 25px yellow;
}

.bsh30yellow {
    box-shadow: 0 0 30px yellow;
}

.bsh35yellow {
    box-shadow: 0 0 35px yellow;
}

.bsh40yellow {
    box-shadow: 0 0 40px yellow;
}

.bsh45yellow {
    box-shadow: 0 0 45px yellow;
}

.bsh50yellow {
    box-shadow: 0 0 50px yellow;
}

.bsh50black {
    box-shadow: 0 0 50px black;
}